* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;        min-height: 100vh;
    background: linear-gradient(45deg, #4e65ff, lightpink);
}

.todo-container {
    form {
        margin-bottom: 40px;
        input {
            border: 2px solid lightpink;
            outline: none;
            border-radius: 5px;
            font-size: 20px;
            padding: 4px 15px;
            margin-right: 10px;
        }
        button {
            background-color: lightblue;
            font-size: 20px;
            padding: 3px 10px;
            border-radius: 5px;
            // border: 2px solid white;
            border: none;
            color: #444;
        }
    }
    .todo-bottom {
        .todo-tabs {
            display: flex;
            // justify-content: center;
            border-radius: 5px;
            .tab-wrap {
                padding: 6px 20px;
                border: 2px solid white;
                font-size: 16px;
                letter-spacing: 1px;
                font-weight: bold;
                color: #333;
            }

            .incomplete {
                border-right: none;
                border-radius: 5px 0 0 5px;
            }

            .complete {
                border-radius: 0 5px 5px 0;
            }
        }
    }
    .todo-body {
        // border: 2px dashed #5e5e5e;
        // border-radius: 0 0 5px 5px;
        // padding: 20px 10px;
        .todo-wrap {

        }

        .todo-imcomplete {

        }

        .todo-complete {

        }
    }
}