.expenseDate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15%;
    background-color: #333;
    padding: 8px 16px;
    border: 2px solid white;

    .expenseDateDetails {
        color: white;

    }
    .expenseDateMonth {
        font-size: 12px;
        margin-bottom: 2px;
        color: white;
    }
    .expenseDateYear {
        font-size: 12px;
        margin-bottom: 4px;
        color: white;
    }
    .expenseDateDay {
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 26px;
        color: white;
    }
}